@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }


.nav-component {
    height: 6vh;
    width: 100vw;
    background-color: #333333;
    /* background-color: #060606; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

a {
    text-decoration: none;
    color: #c2c2c2;
    display: flex;
    align-items: center;
}

.apple-logo {
    height: 25px;
}

.dropdown-content {
    background-color: white;
    width: 150px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
    position: absolute;
}

.dropdown-link {
    color: #0471e3;
}

.dashboard-component {
    display: flex;
    flex-direction: column;
    align-items:center;

}

.dashboard-top-text {
    display: flex;
    letter-spacing: .009em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f4f6;
    width: 100%;
}

.dashboard-logo {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-message{
    font-size: 64px;
    font-weight: 600;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dashboard-links {
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.dashboard-links > img {
    height: 50px;
    width: 50px;

}

.auth-component {
    padding: 30px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.auth-title {
    width: 980px;
    padding-bottom: 32px;
    font-size: 40px;
}

.auth-input-email{
    margin: 0px 0px 14px;
    width: 410px;
    height: 56px;
    padding: 15px 16px 6px;
    line-height: 1.23536;
    font-size: 17px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: .82353rem;
    border-color: #d2d2d7;
    
}

.auth-input-password{
    margin: 0px 0px 14px;
    width: 410px;
    height: 56px;
    padding: 15px 16px 6px;
    line-height: 1.23536;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    font-size: 17px;
    margin-bottom: .82353rem;
    border-color: #d2d2d7;

}
.auth-sign-in{
    display: flex;
    width: 380px;
    flex-direction: column;
    justify-content:space-evenly;

}

.auth-sign-in-button {
    color: white;
    background-color: #0072e4;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    width: 410px;
    height: 56px;
    min-width: 28px;
    padding: 18px 31px;
    border-radius: 12px;
    -webkit-font-smoothing: antialiased;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.auth-text {
    font-size: 14px;
    margin: 0px 0px 35px;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 35px;
}

.auth-text-forgot {
    color: #0072e4;
    font-size: 17px;
}

.auth-registration-link {
    color: #0072e4;
    font-size: 17px;
}
.auth-bottom-text {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    padding-top: 35px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.register-nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;

}

.register-nav-bar-left {
    font-size: 20px;
    margin-left: 35px;
    
}

.register-nav-bar-right {
    display: flex;
    justify-content: space-around;
    width: 35vw;
    font-size: 18px;
    color: #757575;
}

.register-header {
    margin: 0 auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background: linear-gradient(to right, #251815 , #201712, #1e1b0e, #4a402e, #56512e, #697668, #557393, #425e82, #30405c, #252737, #242730,  #232228 );
}
.register-header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    height: 150px;
    margin: 0 auto;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;

}

.register-form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 25px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    height: 100px;

}

.link-to-auth{
    color: #0072e4;
}

.register-form-text p {
    margin: 5px;
}

.register-name-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

}

.register-first-name{
    width: 177px;
    height: 56px;
    font-size: 17px;
    margin-bottom: 14px;
    margin-right: 25px;
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: hsla(0,0%,100%,.8);
    background-clip: padding-box;
}

.register-last-name{
    width: 177px;
    height: 56px;
    font-size: 17px;
    margin-bottom: 14px;
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: hsla(0,0%,100%,.8);
    background-clip: padding-box;
}

.register-country-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.register-country-title {
    display: flex;
    width: 445px;
    text-align:left;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.register-USA-input {
    display: flex;
    width: 415px;
    height: 56px;
    font-size: 17px;
    margin-bottom: 14px;
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: hsla(0,0%,100%,.8);
    background-clip: padding-box;
}

.register-birthday-input {
    display: flex;
    width: 415px;
    height: 56px;
    font-size: 17px;
    margin-bottom: 14px;
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: hsla(0,0%,100%,.8);
    background-clip: padding-box;
}

.register-email-password-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-email-input {
    display: flex;
    width: 415px;
    height: 56px;
    font-size: 17px;
    margin-bottom: 14px;
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: hsla(0,0%,100%,.8);
    background-clip: padding-box;
}

.register-password-input {
    display: flex;
    width: 415px;
    height: 56px;
    font-size: 17px;
    margin-bottom: 14px;
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: hsla(0,0%,100%,.8);
    background-clip: padding-box;
}

.register-phone-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register-phone-input {
    display: flex;
    width: 415px;
    height: 56px;
    font-size: 17px;
    margin-bottom: 14px;
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: hsla(0,0%,100%,.8);
    background-clip: padding-box;
}

.register-text {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 400px;
    font-size: 12px;
    color: #a2a2a2;
    letter-spacing: .05em;
    text-align: center;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.register-checkbox {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 400px;
    font-size: 17px;
    text-align: center;
    color: #333;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.checkbox-text-message {
    margin-left: 20px;
}

.checkbox-phone-number{
    margin-left: 20px;
}

.register-button-continue{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.register-button{
    width: 105px;
    height: 35px;
    font-size: 18px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
    color: #fff;
    min-width: 30px;

    text-align: center;
}

.ipad-air-header {
    font-size: 21px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-left: 50px;
}

.ipad-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ipad-air-photo{
    padding-bottom: 80px;
}

.ipad-air-info {
    width: 422px;

}
.ipad-air-color {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 230px;
    width: 400px;
}
.ipad-air-color input[type="radio"] {
    opacity: 0;
    display: flex;
    width: 0;
}

.ipad-air-color label {
    width: 150px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid #d6d6d6;
    border-radius: 4px;
    padding: 20px;
}

.ipad-button {
    width: 303px;
    font-size: 17px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 30px;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    color: white;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
}

.add-to-bag-button {
    display: flex;
    align-items:center;
    justify-content: center;
}
.watch-header{
    font-size: 21px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-left: 50px;
}
.watch-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.watch-photo{
    padding-bottom: 80px;
    width: 450px;
    height: 400px;
}

.default-watch-photo {
    width: 470px;
    height: 500px;
}

.default-iphone-photo {
    width: 500px;
    height: 500px;
}

.default-ipad-photo {
    width: 470px;
    height: 550px;
}

.selected-iphone-photo{
    width: 450px;
    height: 400px;
}
.selected-watch-photo{
    width: 450px;
    height: 400px;
}
.watch-info {
    width: 430px;

}
.watch-color {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 230px;
    width: 400px;
}
.watch-color input[type="radio"] {
    opacity: 0;
    display: flex;
    width: 0;
}

.watch-color label {
    width: 150px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid #d6d6d6;
    border-radius: 4px;
    padding: 20px;
}


.watch-button {
    width: 303px;
    font-size: 17px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 30px;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    color: white;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
}
.iphone-header {
    font-size: 21px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-left: 50px;
}
.iphone-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iphone-photo{
    padding-bottom: 80px;
    width: 300px;
    height: 400px;
}

.iphone-info {
    width: 430px;

}
.iphone-color {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 230px;
    width: 400px;
}
.iphone-color input[type="radio"] {
    opacity: 0;
    display: flex;
    width: 0;
}

.iphone-color label {
    width: 150px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid #d6d6d6;
    border-radius: 4px;
    padding: 20px;
}


.iphone-button {
    width: 303px;
    font-size: 17px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 30px;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    color: white;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
}

.mac-component {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;


}

.macbook-air-header {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    width: 100%;
    font-size: 21px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-left: 50px;
}

.macbook-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;

}

.macbook-photo{
    display: flex;
    flex-direction: column;
}

.macbook-photo-default{
    width: 500px;
    height: 300px;
}

.macbook-photo-selected{

}

.mac-title {
    font-size: 50px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 30px;
    margin-bottom: 5px;

}

.mac-products {
    display: flex;
}

.macbook-color {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 125px;
    width: 400px;
}
.macbook-color input[type="radio"] {
    opacity: 0;
    display: flex;
    width: 0;
}

.macbook-color label {
    width: 150px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid #d6d6d6;
    border-radius: 4px;
    padding: 20px;
}

.macbook-button {
    width: 303px;
    font-size: 17px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 30px;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    color: white;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
}

.stripeCheckout-button {
    font-size: 17px;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    min-width: 30px;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    color: white;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
}

.cart-component {
    width: 80vw;
    margin: 0 auto;
}

.cart-product-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

cart ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.cart-product-quantity-button{
    height: 50px;
    width: 50px;
    font-size: 16px;
}

.cart-total {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
    align-items:center;
    font-size: 18px;
    

}

.stripeCheckout{
    display:flex;
    align-items:center;
    justify-content: center;
    justify-content: flex-end;
}

.cart-product-quantity-button {

    border: 0;
    display: inline-block;
    background-color: transparent;
    font-size: 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.edit-quantity-dropdown {
    width: 40px;
    padding: 12px 16px;
    align-items: center;
    border: none;
    color: #1d1d1f;
    border-color: #d2d2d7;
    background-color: hsla(0,0%,100%,.8);
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;

}

.cart-dropdown{
    background-color: #333333;
    color: #f6f4f6;
    border: none;
}

.dropdown-item {
    border: none;
    font-size: 24px;
    background-color: hsla(0,0%,100%,.8);
    
}

.cart-item-remove-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    color: #0070c9;
    font-size: 17px;

}

.cart-quantity-options {
    position: absolute;
}

.cart-product-name {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;

}

.cart-product-color {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px
}

.cart-product-quantity {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1d1d1f;
  
}

.cart-product-price {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1d1d1f;
    font-size: 27px
}

.cart-remove-button {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cart-review-text {
    font-size: 40px;
    padding-top: 20px;

}

.cart-return-text {
    font-size: 18px;
}

.order-complete-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px){

    .dashboard-message {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .dashboard-links {
        display: flex;  
        flex-direction: column;
    }

    .dropdown-content {
        width: 150px;
        transform: translate(-80%, 0)
    }
    .ipad-air-color {
       display: flex;
       flex-direction: column;
       height: 90%;
    }
    .ipad-air-info {
        width: 250px;
    }

    .default-ipad-photo{
        width: 350px;
        height: 500px;
    }

    .default-iphone-photo {
        width: 375px;
        height: 500px;
    }

    .iphone-color {
        display: flex;
        flex-direction: column;
        height: 90%;
    }

    .iphone-info {
        width: 250px;
    }
    .default-watch-photo {
        width: 450px;
        height: 500px;
    }

    .watch-info {
        width: 250px;
    }

    .watch-color {
        display: flex;
        flex-direction: column;
        height: 90%;
    }

    .cart-component {
        display: flex;
        flex-direction: column;
    }

    .cart-product-info {
        display: flex;
        flex-direction: column;
    }

}

